<h2>Book details</h2>

<div class="form-group row">
<label class="col-2 col-form-label">Title</label>
<div class="col-10">
<input type="text" readonly value="{{book.title}}">
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">Description</label>
  <div class="col-10">
<textarea type="text" readonly value="{{book.description}}"></textarea>
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">Unit cost</label>
  <div class="col-10">
<input type="number" readonly value="{{book.unitCost}}">
</div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">Number of pages</label>
  <div class="col-10">
<input type="number" readonly value="{{book.nbOfPages}}">
  </div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">Image URL</label>
  <div class="col-10">
<input type="text" readonly value="{{book.imageUrl}}">
  </div>
</div>
<div class="form-group row">
<label class="col-2 col-form-label">Langauge</label>
  <div class="col-10">
<input type="number" readonly value="{{book.language}}">
</div>
</div>
